<div>
  <div class="container">

    <div class="row">

      <div class="col-md-4 mt-5 mb-5">
        <app-barra-lateral></app-barra-lateral>
      </div>

      <div class="col-md-8 mt-5 mb-5">

     
        <div class="row d-flex align-items-end">

          <button type="button" class="btn btn-primary-login w-100 mr-2" data-toggle="modal" data-target="#ExemploModalCentralizado">
            Publicar sua dúvida
          </button>

          <button class="mr-2 btn btn-primary-editar w-100 mt-3" [routerLink]="['/config', idUsuario]">
            Editar postagem
          </button>

      

       
          <!-- Modal Publicação-->

         <!-- Botão para acionar modal -->


<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title font-weight-bold text-uppercase" id="TituloModalCentralizado">Faça aqui Sua Pergunta!</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          
        </button>
      </div>
      <div class="modal-body">
      
        <div class="row mb-1 mt-1">
          <div class="col-md-12">
            <div class="form-group">
              <label class="sobre-text-color p2 font-weight-bold" for="categoria">Título</label>
              <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o seu titulo"
                [(ngModel)]='postagem.titulo'>
              </div>
          </div>
        </div>
        

        <div class="row">
          <div class="col">
            <div class="form-group m-0">
              <label class="sobre-text-color p2 font-weight-bold" for="categoria">Categoria</label>
              <select name="categoria" id='categoria' class="form-control" [(ngModel)]='idCategoria'
                (change)='findByIdCategorias()'>
                <option *ngFor='let item of listaCategorias' value={{item.id}}>
                  {{item.descricao}}
                </option>
              </select>
            </div>
            </div>
            
            <div class="col d-flex align-items-end">
              <div class="input-group ">
                <input type="text" class="form-control" placeholder="Nova Categoria" aria-label="Cadaste" aria-describedby="button-addon2"[(ngModel)]='categoria.descricao'>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2"  (click)='cadastrarCategoria()'>+</button>
                </div>
            </div>

        
              
            </div>
          </div>
         

          <div class="row mb-1 mt-3">
            <div class="col-md-12">
              <div class="form-group">
                <label class="sobre-text-color p2 font-weight-bold" for="post">Dúvida</label>
                <textarea class="form-control" id="post" rows="3" placeholder="Digite aqui o seu texto"
                  [(ngModel)]='postagem.post'></textarea>
              </div>
            </div>
          </div>
        
      </div>
 

  
  <div class="modal-footer">
    <button type="button" class="btn btn-primary-cancelar"data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary-salvar"data-dismiss="modal" (click)='publicar()'>Publicar</button>
   
  </div>
    </div>
  </div>
</div>

          <!-- /Modal Publicação-->


        </div>


        <hr class="mt-5 mb-5 hr-color">

        <nav class="d-flex justify-content-center">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab"
              href="#minhas-postagens" role="tab" aria-controls="nav-home" aria-selected="true">Postagens</a>
  
            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab"
              href="#postagens-categorias" role="tab" aria-controls="nav-profile" aria-selected="false">Postagens por categoria</a>
          </div>
        </nav>

          

        <div class="tab-content" id="nav-tabContent">
  
          <div class="tab-pane fade show active" id="minhas-postagens" role="tabpanel"
            aria-labelledby="nav-postagens-tab">
            <div class="row mt-3 mb-3">
              <div class="col-md-12 pr-0">
                <input class="form-control w-100" type="search" placeholder="Pesquisar postagem" aria-label="Pesquisar" [(ngModel)]='titulo' (keyup)='findByTituloPostagem()'>
              </div>
             
            </div>
  
            <div class="row">
              <div class="col-md-12">
  
                <div class="card mt-5" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
                  <div class="card-header">
                    <div class="row d-flex align-items-center">
                      <div class="col-md-8">
                        <h3 class="card-tittle font-weight-bold"> {{item.titulo}} </h3>
                        <small>Categoria: {{item.categoria.descricao}} </small>
                      </div>
                      <div class="col-md-4 d-flex justify-content-end">
  
                       
                        <button class="btn btn-primary-editar ml-1" [routerLink]="['/resposta', item.id]">
                          Ver Discussão
                        </button>
  
                      </div>
                    </div>
                  </div>
  
                  <div class="card-body">
                    <p class="card-text" aria-describedby="texto"> {{item.post}} </p>
                    <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">
                      Postado em {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}} por {{item.usuario.nome}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="tab-pane fade" id="postagens-categorias" role="tabpanel" aria-labelledby="nav-presenca-tab">

            <div class="row mt-3 mb-3">
              <div class="col-md-12 pr-0">
                <input class="form-control w-100" type="search" placeholder="Pesquisar categoria" aria-label="Pesquisar" [(ngModel)]='nomeCategoria' (keyup)='findByNomeCategoria()'>
              </div>
           
            </div>
            
            <div class="row">
              <div class="col-md-12" *ngFor="let item of listaCategorias | orderBy : key : reverse">
                <div *ngFor='let posta of item.postagem'>
  
                  <div class="card mt-5 mb-5" >
                    <div class="card-header">
                      <div class="row d-flex align-items-center">
                          <div class="col-md-12">
                              <h3 class="card-title font-weight-bold"> {{posta.titulo}} </h3>
                          </div>
                      </div>
                  </div>
  
                  <div class="card-body" >
                    <p class="card-text" aria-describedby="texto"> {{posta.post}} </p>
                    <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">
                      Postado em {{posta.data | date: 'dd/MM/yyyy'}} às {{posta.data | date:'HH:mm'}}</small>
                  </div>

                </div>
              </div>
              </div>
            </div>
  
          </div>
        </div>
  
      </div>
     
    </div>
</div>