

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-3" style="float:left" *ngFor="let item of listaPostagens | slice:0:4">
          
         <div class="card mb-2">
          <img class="card-img-top"
          src="https://as2.ftcdn.net/jpg/00/81/48/79/500_F_81487986_ZqzjKk1vn68y6vuw0DJFRA4yWz1AyOUO.jpg" alt="Card image cap">
           
            <div class="card-body">
              <h4 class="card-title">{{item.titulo}}</h4>
              <p class="card-text">{{item.categoria.descricao}}</p>
              <a class="btn btn-primary "[routerLink]="['/resposta', id]">Visualizar</a>
              
            </div>
            <div class="card-footer text-muted">
              {{item.data | date: 'dd/MM/yyyy'}}
            </div>
          </div>
        </div>
  
       
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-3" style="float:left" *ngFor="let item of listaPostagens | slice:4:8">
            <div class="card mb-2">
               <img class="card-img-top"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
               <div class="card-body">
                 <h4 class="card-title">{{item.titulo}}</h4>
                 <p class="card-text">{{item.categoria.descricao}}</p>
                 <a class="btn btn-primary">Button</a>
               </div>
             </div>
           </div>
     
  
      </div>
      <!--/.Second slide-->
  
     
  
    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->


