.carousel-indicators li {
    background-color: orange;
}
.img-50 {
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.carousel-indicators {
    bottom: -40px;
}

.btn-primary-visualizar {
    background-color: #FF8D36;
    color: white;
}

