<!-- Flip Card Bianca-->
<div class="flip-card">
   <div class="flip-card-inner">
      <div class="flip-card-front tamanho">
         <img src="/assets/img/bianca.jpg" alt="Avatar">
      </div>
      <div class="flip-card-back">
         <h1>Maurício Rodrigues</h1>
         <p>Desenvolvedor Full Stack</p>
         <p>Engenheiro software Itaú</p>
         <p></p>
      </div>
   </div>
</div>
<!-- /FLip card victor-->

<!-- Flip Card Victor-->
<div class="flip-card">
   <div class="flip-card-inner">
      <div class="flip-card-front tamanho">
         <img src="/assets/img/mauricio.png" alt="Avatar">
      </div>
      <div class="flip-card-back">
         <h1>Maurício Rodrigues</h1>
         <p>Desenvolvedor Full Stack</p>
         <p>Engenheiro software Itaú</p>
         <p></p>
      </div>
   </div>
</div>
<!-- /FLip card victor-->

<!-- Flip Card Victor-->
<div class="flip-card">
   <div class="flip-card-inner">
      <div class="flip-card-front tamanho">
         <img src="/assets/img/rafa.jpeg" alt="Avatar">
      </div>
      <div class="flip-card-back">
         <h1>Maurício Rodrigues</h1>
         <p>Desenvolvedor Full Stack</p>
         <p>Engenheiro software Itaú</p>
         <p></p>
      </div>
   </div>
</div>
<!-- /FLip card victor-->

<!-- Flip Card Victor-->
<div class="flip-card">
   <div class="flip-card-inner">
      <div class="flip-card-front tamanho">
         <img src="/assets/img/thais.jpg" alt="Avatar">
      </div>
      <div class="flip-card-back">
         <h1>Maurício Rodrigues</h1>
         <p>Desenvolvedor Full Stack</p>
         <p>Engenheiro software Itaú</p>
         <p></p>
      </div>
   </div>
</div>
<!-- /FLip card victor-->

<!-- Flip Card Victor-->
<div class="flip-card">
   <div class="flip-card-inner">
      <div class="flip-card-front tamanho">
         <img src="/assets/img/victor.jpg" alt="Avatar">
      </div>
      <div class="flip-card-back">
         <h1>Maurício Rodrigues</h1>
         <p>Desenvolvedor Full Stack</p>
         <p>Engenheiro software Itaú</p>
         <p></p>
      </div>
   </div>
</div>
<!-- /FLip card victor-->