
  <div class="parallax"></div>

<div class="container">

  <div class="row mb-5 mt-3">
    <div class="col-md">
      <h1 class="d-flex justify-content-center text-uppercase font-weight-bold">Postagens</h1>
      <p class="text-center">Confira muito mais conteúdo acessando a área do usuário</p>
  </div>
</div>

    <div class="row mb-3 mt-5">
      <div class="col-md-12">
        <app-cardhome></app-cardhome>
      </div>
  </div>
</div>


<hr class="container hr-color mt-5">


<div class="container">
  <div class="row mb-5 mt-3">
    <div class="col-md">
      <h1 class="d-flex justify-content-center text-uppercase font-weight-bold">Tecnologia é para todes</h1>
      <p class="d-flex text-center">Por muito tempo, pequenos agricultores sofreram com perdas em suas plantações devido a falta de informação. Com o fórum da Agreeks, o pequeno agricultor poderá tirar todas as suas dúvidas com especialistas com mais agilidade.</p>

  </div>
</div>

<div class="card-deck">
  <div class="card border-0">
    <img class="card-img-top img-300" src="assets/img/agricultura.png" alt="Imagem de capa do card">
    <div class="card-body">
      <h2 class="card-title d-flex text-center">Apoio aos pequenos agricultores </h2>
    </div>
  </div>
  <div class="card border-0 align-items-center">
    <img class="card-img-top img-300" src="/assets/img/colheita.png" alt="Imagem de capa do card">
    <div class="card-body">
      <h2 class="card-title d-flex text-center">Ajuda de especialistas que entendem do assunto</h2>
    </div>
  </div>
  <div class="card border-0 align-items-center">
    <img class="card-img-top img-300" src="/assets/img/floresta-tropical.png" alt="Imagem de capa do card">
    <div class="card-body">
      <h2 class="card-title d-flex text-center">Plataforma rápida e eficaz de comunicação</h2>
    </div>
  </div>
</div>
</div>

<hr class=" container hr-color">

<div class="container">
  <div class="row d-flex justify-content-center mb-3 mt-3">
  <h1 class="text-uppercase font-weight-bold">Depoimentos</h1>
  </div>
  <!-- row de card-->
  <div class="card-deck">
    <div class="card border-0">
      <img class="card-img-top img-300 img-border" src="/assets/img/agricultor-trabalho.jpeg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Paulo, Agricultor</h5>
        <p class="card-text font-italic">"Através do fórum eu tiro todas as minhas dúvidas com especialistas, e com isso, não tive tantas perdas em minhas plantações, recomendo aos amigos!"</p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top img-300 img-border" src="/assets/img/agricultora.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Alessandra, Agricultora</h5>
        <p class="card-text font-italic">"Sou pequena agricultora e muito nova no ramo, não tenho muitos conhecimentos, por isso, o fórum da Agreeks me ajudou MUITO, vejo as dúvidas de outros colegas, tiro as minhas e assim consigo cuidar do sitio e vender minhas frutas e verduras na feira. Obrigada Agreeks!"</p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top img-300 img-border" src="/assets/img/especialista.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Melissa, Especialista</h5>
        <p class="card-text font-italic">"Sempre gostei de ajudar o pequeno produtor, porém não tinha muito alcance e deixava de assistir muita gente, com essa plataforma, fico 24h disponível e ajudo o máximo que eu consigo, estou super contente."</p>
      </div>
    </div>
  </div>
  
  <!-- /row de card-->
  
  </div>