<div class="container-fluid">
  <div class="row">
  <app-carousel2></app-carousel2>
</div>
</div>
<app-jumbotron></app-jumbotron>

<div class="container">
<div class="row d-flex justify-content-center">
<h2>Porque Utilizar a Agreeks?</h2>
</div>
<!-- row de card-->
<div class="card-deck">
  <div class="card mt-4 mb-4">
   
    <div class="card-body">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Este é um card maior Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et fuga possimus eligendi nihil! Eligendi reiciendis quisquam quis fuga fugiat iste ea dicta porro accusantium quasi! Doloribus blanditiis ea et! com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
    </div>
  
  </div>
  <div class="card">
       <div class="card-body">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Este é um card com lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, consequatur amet vitae perspiciatis ipsa laboriosam ipsum atque illo qui repellendus, quidem vero tempora autem magni saepe quas dolorem ratione unde!
        suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
    </div>
    
  </div>
  <div class="card bg-light">
    
    <div class="card-body">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Este é um card Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sint neque accusamus aut officia culpa quibusdam eius velit quidem fugit, atque mollitia magnam, sequi, ullam odit hic reiciendis tenetur fugiat. maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
    </div>
  
  </div>
</div>

<!-- /row de card-->

</div>
<div class="container-fluid">
  <div class="row w-100 mt-5 mb-5">
    <div class="col-md-12">
  <div class="parallax"></div>
</div>
</div>
</div>
