<div class="container">
    <div class="row d-flex">
        <div class="col-md-12">
            <label for="email">Seu e-mail de contato</label>
        </div>
        <div class="col-md-12">
            <input id="email" type="email" placeholder="seu@email.com">
        </div>
        <div class="col-md-12">
            <label for="message">Mensagem</label>
        </div>
        <div class="col-md-12">
            <textarea id="message" name="message" cols="80" rows="17" placeholder="Escreva aqui sua dúvida"></textarea>
        </div>
        <div class="col-md-2 mb-2 mt-2">
            <button class="btn btn-outline-dark w-100">Enviar</button>
        </div>
    </div>
</div>
