@import url(//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue);

.bg-color{
    background-image: url(https://image.freepik.com/vetores-gratis/folhas-de-palmeira-topicos-no-padrao-sem-emenda-para-textura-de-tecido-ilustracao-vetorial_1182-1327.jpg);  
    opacity: 0.5;
}

.p2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
  }