<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 sobre-text-color">Agreeks</h1>
      <p class="lead sobre-text-color">Faça login e tire todas as suas dúvidas!</p>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/plantacao.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text sobre-text-color p2">Plantação</p>
        </div>
      </div>
    </div>

    <div class="col-md-auto">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/cultivo.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text sobre-text-color p2">Cultivo</p>
        </div>
      </div>
    </div>
  </div>



  

