<div class="bg">
<!--Container da pagina Login-->

        <!--Row principal-->
        <div class="row">
            <div class="col-md-7">
                <div class="img-login">
                </div>
            </div>            

            <div class="col-md-4 align-items-center">
                <div>
                    <!--Form-group Usuario/email-->
                    <h1 class="text-center font-weight-bold pt-5 text-uppercase">Login</h1>
                    
                    <div class="form-group sobre-text-color">
                        <label for="exampleInputEmail1"></label>
                        <h3 class="h3-cad">Email</h3>
                        <div class="input-group input-group-lg">
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                placeholder="exemplo@email.com" [(ngModel)]='userLogin.email'>
                        </div>

                        <!--/Form-group Usuario/email-->
                        <!--Form-group Senha-->
                        <label for="exampleInputPassword1"></label>
                        <h3 class="h3-cad">Senha</h3>
                        <div class="input-group input-group-lg">
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="**************" [(ngModel)]='userLogin.senha'>
                        </div>

                        <!--/Form-group Senha-->

                    </div>


                    <!--Button Entrar-->
                    <div class="d-flex justify-content-center align-items-enter">
                        <button type="submit" class="btn btn-primary-login w-50 mt-1 mb-1" (click)='entrar()'>Entrar</button>
                    </div>

                    <hr class="hr-color">

                    <h3 class="sobre-text-color p2 text-center"> Ainda não é cadastrado?</h3>
                    <div class="d-flex justify-content-center align-items-enter">
                        <button type="submit" class="btn btn-primary-cadastro w-50 mt-1 mb-1" routerLink="/cadastro">Cadastre-se</button>
                    <!--/Button Entrar-->
                </div>

            </div>




        </div>
        <!--/Row principal-->
    </div>
    <!--/Container da pagina Login-->
</div>