@import url(//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue);


.sobre-text-color{
    color:black;  
}


.p2 {
    font-family: Helvetica, Arial, sans-serif;
  }

 .padd{
    padding: 10px;
} 

.img-login {
    background-image: url(/assets/img/fundo-login.jpg);
    width: 770px;
    height: 600px;
}

 .hr-color {
      background-color: turquoise;
  }

  .btn-primary-login {
      background-color: #2D7345;
      color: white;
  }

  .btn-primary-cadastro {
      background-color: #DAA91B;
      color: white;
  }

  .h3-cad {
    margin: 0px;
}

.row {
    margin-right: 0px;
}

