@import url(//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue);

/* .bg{   
    background-image: url('https://i.pinimg.com/originals/c9/e3/ff/c9e3ffa4ba330b6f69f91cb9d80e0811.jpg');
    max-width:  1000px;
    height: 1000px;
    background-repeat: no-repeat;
   
    

} */

.sobre-text-color{
    color: #562D15;  
}

/* .caixa{

    height: 400px;
} */

/* .p2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
  } */
  /* .caixap{
    background-color:green;
    width: 600px;
    height: 600px;
} 
 .caixab{
    
    width: 600px;
    height: 600px;
    padding: 120px 20px 20px 60px;
} */
 .padd{
    padding: 50px;
} 

.card{
min-height: 200px;
min-width : 500px;
}
