<!--Container da pagina Login-->
<div class="container">
    <!--Row que engloba Titulo-->
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Login</h1>
        </div>
    </div>
    <!--/Row que engloba Titulo-->

    <!--Row principal-->
    <div class="row mb-5 d-flex justify-content-center">
        <div class="col-md-6">
            <div>
                <!--Form-group Usuario/email-->
                <div class="form-group">
                    <label for="exampleInputEmail1">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Seu email" [(ngModel)]='userLogin.email'>
                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com
                        ninguém.</small>
                </div>
                <!--/Form-group Usuario/email-->

                <!--Form-group Senha-->
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha"
                        [(ngModel)]='userLogin.senha'>
                </div>
                <!--/Form-group Senha-->

                <!--Button Entrar-->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-success w-25" (click)='entrar()'>Entrar</button>
                </div>
                <!--/Button Entrar-->
            </div>
        </div>
    </div>
    <!--/Row principal-->
</div>
<!--/Container da pagina Login-->