<!--footer-->
<footer class="page-footer font-small pt-4" style="background-color: #9CA651"> 
    <!--footer elements-->
    <div class="container">
        <!--call to action-->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4>Fale conosco</h4>
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-md-12 sm-12 d-flex justify-content-center">
            <ul class="social-network">
                <li> <a href="#" target="_blank">
                    <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3" title="Facebook"></fa-icon>
             </a>
         </li>
         <li>  <a href="#" target="_blank">
                 <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3 "title="instagram"></fa-icon>
             </a>
         </li>
            </ul>
        </div>
    </div>
    <!--/call to action-->
    <!--copyright-->
    <div class="footer-copyright bg-red text-center py-3">
        <span class="text-light">
            Agreeks© 2020
        </span>
    </div>
    <!--\copyright-->
</footer>