<!--/div colorindo espaço em branco-->
<div class="container d-flex justify-content-center">
    <img src="\assets\img\img_rodape.jpg" alt="imagem de rodape">
</div>
<!--footer-->
<footer class="page-footer font-small pt-4 ima"> 
    <!--footer elements-->
    <div class="container">
        <!--call to action-->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center sobre-text-color p2">
                <h4>Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
      
                  <ul class="social-network">
                   <li><a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook" title="Facebook">
                     <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
                    </a></li>
                   <li><a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram" title="Instagram">
                     <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                    </a></li>
                  </ul>
          </div>
          </div>
        </div>
    <!--/call to action-->
    <!--copyright-->
    <div class="footer-copyright bg-dark text-center py-1 ">
        <span class="text-light"> Agreeks© 2020</span>
    </div>
    <!--\copyright-->
</footer>