@import url(//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue);


.faGithub, .faLinkedin{
    color: #2D7345;
}

.faLinkedin:hover{
color: #0072b1;
}

.faGithub:hover{
color: #182C2D;
}

.p2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
  }
  
.missao {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
} 

a:link {
  color: #2D7345;
}
   
a:hover {
  color: #2D7345;
}

.sobre-text-color{
    color: black
}

.bg{
    background-image: url(/assets/img/fundo.jpg);
    background-repeat:no-repeat;
    
}

.bg-texto {
  background-color: white;
  opacity: 0.7;
}

.hr-color {
  background-color: white;
}

.hr-cor {
  background-color: turquoise;
}

.text-card {
  color: white;
}

.bg-dev {
  background-image: url(/assets/img/fundo-natureza.jpg);
}

.hr-color-dev {
  background-color:#177F02;
}