<div class="bg">

    <div class="container">
        <section class="w100 pt-1 py-3 pr-4 bg-texto">
            <div class="container">
                <h1 class="text-center sobre-text-color text-uppercase font-weight-bold m-5">Sobre nós</h1>
                <p id="sobre" class="text-justify sobre-text-color p2">
                    Olá, muito obrigadx por visitar o nosso site! Somos um grupo de devs que recebeu o desafio de colaborar
                    para
                    atingir
                    um dos <a class="sobre-text-color" href="https://brasil.un.org/pt-br/sdgs" target="_blank">Objetivos de
                        Desenvolvimento Sustentável
                        da ONU</a>. Como
                    desafio pouco é bobagem, escolhemos a <a class="sobre-text-color"
                        href="https://brasil.un.org/pt-br/sdgs/2" target="_blank">Fome Zero
                        e Agricultura
                        Sustentável</a> e pra isso, fizemos esse fórum.
                </p>
                <p id="sobre" class="text-justify sobre-text-color texto p2">
                    Acreditamos que o conhecimento deve ser compartilhados entre todos, então temos como principal objetivo,
                    conectar pequenos agricultores, que
                    muitas vezes têm uma série de dúvidas com relação à produção e usam de seu conhecimento empírico e
                    experimentação, com estudantes e profissionais
                    das áreas técnicas da agricultura. Assim, esses grupos podem colaborar para construir um mundo mais
                    colaborativo, com eficiência na produção,
                    redução de perdas e desperdícios, afinal, acreditamos que todo alimento é sagrado.
                </p>
                <p id="sobre" class="text-justify sobre-text-color mb-5 p2">
                    Venha com a gente construir essa comunidade! Aproveite pra entrar em contato conosco para trazer suas
                    dúvidas, críticas e sugestões!
                </p>
                <br><br><br><br>
            </div>
        </section>
    
        <section class="w-100 py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 my-1">
                        <div class="card text-card mb-3 border-0 h-100">
                            <div class="card-body" style="background-color: #04BFBF">
                                <h5 class="card-title missao text-center font-weight-bold">Missão</h5>
                                <hr class="hr-color">
                                <p class="card-text text-justify">
                                    Contribuir para o compartilhamento de informação e otimização das culturas de pequenos
                                    agricultores
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-1">
                        <div class="card text-card mb-3 border-0 h-100">
                            <div class="card-body" style="background-color: #F2AE30">
                                <h5 class="card-title missao text-center font-weight-bold">Visão</h5>
                                <hr class="hr-color">
                                <p class="card-text text-justify">
                                    Desenvolver uma plataforma estável e tornar-se referência acessível de fórum para
                                    agricultores e técnicos
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-1">
                        <div class="card text-card mb-3 border-0 h-100">
                            <div class="card-body" style="background-color: #4A6DD9">
                                <h5 class="card-title missao text-center font-weight-bold">Valores</h5>
                                <hr class="hr-color text-justify">
                                <ul>
                                    <li>Conhecimento livre e gratuito</li>
                                    <li>Sustentabilidade</li>
                                    <li>Repeito à diversidade</li>
                                    <li>Valorização do conhecimento</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="w-100 py-5">
            <div class="container">
                <h1 class="mb-5 text-center sobre-text-color text-uppercase font-weight-bold">Dev Team</h1>
                <div class="row d-flex justify-content-center">
                    <!-- Bianca -->
                    <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2">
                        <div class="overflow-hidden d-flex justify-content-center align-items-center">
    
                            <img src="https://i.imgur.com/qTsWq57.png" alt="" class="rounded-circle img-fluid w-100">
                        </div>
                        <h2 class="my-2 sobre-text-color">Bianca</h2>
                        <div>
                            <a class="icoGithub" target="_blank" href="https://github.com/BiancaGolin" role="button">
                                <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                            </a>
                            <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/bianca-golin/"
                                role="button">
                                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                            </a>
                        </div>
                    </div>
    
                    <!-- Maurício -->
                    <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                        <div class="overflow-hidden d-flex justify-content-center align-items-center">
                            <img src="https://i.imgur.com/y2GxypO.png" alt="" class="rounded-circle img-fluid w-100">
                        </div>
                        <h2 class="my-2 sobre-text-color">Maurício</h2>
                        <div>
                            <a class="icoGithub" target="_blank" href="https://github.com/MauricioRodriguesBD"
                                role="button">
                                <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                            </a>
                            <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/mauricio-rodriguesbd/"
                                role="button">
                                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                            </a>
                        </div>
                    </div>
    
                    <!-- Rafa -->
                    <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                        <div class="overflow-hidden d-flex justify-content-center align-items-center">
                            <img src="https://i.imgur.com/EjNPU0m.png" alt="" class="rounded-circle img-fluid w-100">
                        </div>
                        <h2 class="my-2 sobre-text-color">Rafael</h2>
                        <div>
                            <a class="icoGithub" target="_blank" href="https://github.com/syltare" role="button">
                                <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                            </a>
                            <a class="faLinkedin" target="_blank"
                                href="https://www.linkedin.com/in/rafael-rodrigues-5124821a2/" role="button">
                                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                            </a>
                        </div>
                    </div>
    
                    <!-- Thaispetcular -->
                    <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                        <div class="overflow-hidden d-flex justify-content-center align-items-center">
                            <img src="https://i.imgur.com/nxjPE3r.png" alt="" class="rounded-circle img-fluid w-100">
                        </div>
                        <h2 class="my-2 sobre-text-color">Thais</h2>
                        <div>
                            <a class="icoGithub" target="_blank" href="https://github.com/ThaisGoncalves" role="button">
                                <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                            </a>
                            <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/thais-goncalves-silva/"
                                role="button">
                                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                            </a>
                        </div>
                    </div>
    
                    <!-- Victor -->
                    <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                        <div class="overflow-hidden d-flex justify-content-center align-items-center">
                            <img src="https://i.imgur.com/UT8qQIB.png" alt="" class="rounded-circle img-fluid w-100">
                        </div>
                        <h2 class="my-2 sobre-text-color">Victor</h2>
                        <div>
                            <a class="icoGithub" target="_blank" href="https://github.com/VictorMirandaS" role="button">
                                <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                            </a>
                            <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/victor-msilva/"
                                role="button">
                                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                            </a>
                        </div>
                    </div>
                    <!-- Pessoa 1 -->
    
                </div>
            </div>
        </section>
    
    </div>