@import url(//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue);


.p2 {
    font-family: Helvetica, Arial, sans-serif;
 }


.sobre-text-color{
    color: #562D15;
}

.bg {
    background-color: #D1D996;
}