<nav class="navbar navbar-expand-lg navbar-light monospace text-uppercase ima">

  <div class="collapse navbar-collapse font-weight" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="#">
          <img src="assets\img\Cebola sem texto.png" width="50" height="30" alt="logo agreeks"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
          aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      </li>
      <li class="nav-item text-uppercase menunav">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <div class="d-flex justify-content-end">
    <ul class="navbar-nav mr-auto">
      <div *ngIf='auth.btnLogin()'>
        <li class="nav-item">
          <a class="nav-link text-uppercase menunav" routerLink="/login">Login</a>
        </li>
      </div>
      <div *ngIf='auth.btnLogin()'>
        <li class="nav-item">
        <a class="nav-link text-uppercase menunav" routerLink="/cadastro">Cadastrar</a>
        </li>
      </div>
      <div *ngIf='auth.bntSair()'>
        <li class="nav-item">
          <a class="nav-link text-uppercase menunav" routerLink="/feed">Feed</a>
        </li>
      </div>
      <div *ngIf='auth.bntSair()'>
        <li class="nav-item">
          <a class="nav-link text-uppercase menunav" (click)='sair()'>Sair</a>
        </li>
      </div>
      <li class="nav-item">
        <a class="nav-link text-uppercase menunav" routerLink="/sobre-nos">Sobre nós</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          OPÇÕES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" disabled>Dark-Mode</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sobre nós</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Contato</a>
          </div>
      </li> -->
    </ul>
  </div>
</nav>