<nav class="navbar navbar-expand-lg navbar-light monospace text-uppercase" style="background-color: #9CA651;">

  <div class="collapse navbar-collapse font-weight" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo2.png" width="30" height="30" alt="logo agreeks"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
          aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mensagens</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      <button class="btn btn-inline-success my-2 my-sm-0" type="submit" ></button>
    </form>
  </div>

  <div class="d-flex justify-content-end">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro">Cadastrar</a>
      </li>
    </ul>
  </div>
</nav>