<nav class="navbar navbar-expand-lg navbar-dark text-white monospace text-uppercase ima">
  <a class="navbar-brand" routerLink="/home">
    <img src="https://i.imgur.com/QWmnyuI.png" width="50" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-uppercase text-light"routerLink="/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase text-light"routerLink="/sobre-nos">Sobre Nós</a>
      </li>
 
   
    </ul>
    <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li>  <form class="pesquisa">
        <input type = "search" id="texto" list="historico">
        <button type="button"routerLink="/feed" class="btn btn-primary">Visualizar</button>
        <datalist id="historico" >
        <option  *ngFor='let item of listaPostagens' value={{item.titulo}}>
         {{item.post}}
      
          </option>
        
        </datalist>
      </form>
    </li>
    </ul> -->
<ul class="navbar-nav  mt-2 mt-lg-0">
  <div *ngIf='auth.btnLogin()'>
    <li class="nav-item">
      <a class="nav-link text-uppercase text-light " routerLink="/login">Login</a>
    </li>
  </div>
  <div *ngIf='auth.btnLogin()'>
    <li class="nav-item">
    <a class="nav-link text-uppercase text-light" routerLink="/cadastro">Cadastrar</a>
    </li>
  </div>
  <div *ngIf='auth.bntSair()'>
    <li class="nav-item">
      <a class="nav-link text-uppercase text-light" routerLink="/feed">Feed</a>
    </li>
  </div>
  <div *ngIf='auth.bntSair()'>
    <li class="nav-item">
      <a class="nav-link text-uppercase text-light" (click)='sair()'>Sair</a>
    </li>
  </div>
  </ul>
  
  
  </div>
</nav>