.ima{
    background: rgb(198,175,55);
    background: linear-gradient(180deg, rgba(198,175,55,0.8155637254901961) 11%, rgba(214,195,95,0.8155637254901961) 20%, rgba(175,150,21,0.9472163865546218) 65%);
}
.menunav{
    font-size: large;
    color: orange;
    
}

.bg{   
    background-color: #D1D996;
    height: 770px;
  }