<!-- <div
    style="background-image: url(https://cdn.discordapp.com/attachments/768840435442647064/788499529439248404/cebolinho.png);"> -->
    
        <!-- Container da pagina Cadastro-->
        <div class="container">
            <!--Row que engloba titulo-->



            <div class="row mb-2 ">
                <div class="col-md-12 col-sm-12">
                    <h1 class="text-center">Cadastre-se</h1>
                </div>
            </div>
            <!--/Row que engloba titulo-->

            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
           <div class="row mb-5 mt-5">
            <div class="col-md-6 col-sm-12  ">
                <div class="d-flex justify-content-center">
                    <img class="w-50" src="/assets/img/logo2.png" alt="cebola">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <h2>Faça parte da nossa comunidade!</h2>
                            
                </div>
            </div>

            <!--Row principal da pagina de cadastro-->
           
                <div class="col-md-6 col-sm-12">
                    <div>

                        <!--Form nome-->

                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" required minlength="5" id="nome"
                                placeholder="Digite o seu nome aqui" [(ngModel)]='usuario.nome' required>

                            <small id="nome" class="form-text text-muted">Insira um nome de no mínimo 4
                                caracteres</small>
                        </div>
                         <!--/Form nome-->

                         <div class="form-group">
                            <label for="nome">Biografia</label>
                            <input type="text" class="form-control" id="nome" placeholder="Fale um pouco sobre você" [(ngModel)]='usuario.bio'>
                        </div>

                        <!--Form email-->
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com"
                                [(ngModel)]='usuario.email' required>
                        </div>
                        <!--/Form nome-->
                        <div class="form-group">
                            <label for="email">Imagem</label>
                            <input type="imagem" class="form-control" id="email" placeholder="URL da imagem"
                                [(ngModel)]='usuario.imagem' required>
                        </div>

                        <!--Form senha-->
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" required minlength="4" id="senha"
                                placeholder="Digite sua senha" (input)='conferirSenha($event)' value='{{senha}}'>
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                Digite uma senha entre 3 a 20 caracteres
                            </small>



                        </div>
                        <!--/Form senha-->

                        <!--Form confirm senha-->
                        <div class="form-group">
                            <label for="senhaConf">Confirmar Senha</label>
                            <input type="password" class="form-control" minlength="3" id="senhaConf"
                                placeholder="Digite a confirmação da senha" [(ngModel)]='usuario.senha' required>

                        </div>
                        <!--Form confirm senha-->

                        <!--Button Cadastrar-->
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-success w-25" (click)='cadastrar()'>Cadastrar </button>
                        </div>
                        <!--Button Cadastrar-->

                    </div>
                </div>
            
            <!--/Row principal da pagina de cadastro-->

        </div>
        <!--/Container da pagina Cadastro -->

    </div>

