@import url(//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue);

.ng-invalid.ng-touched{
    background-color: #f8d7da;
    border-color: #f5c6cb;
     
 }
 .ng-valid{
     transition-property:background-color;
     transition-duration: 500ms;
     border-color: #c3e6cb;
     background-color:#d4edda;
 }

 .p2 {
    font-family: Helvetica, Arial, sans-serif;
 }

 /* .bg{   
  background-color: #D1D996;
  height: 770px;
  
} */


.sobre-text-color{
    color: #562D15;
}
